site_name: Meneer van Dam
site_description: Nederlands info (Meneer van dam)
site_author: Meneer van Dam
site_url: https://clvlearn.github.io/mdam/

theme:
  name: material
  language: nl
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.expand
    - navigation.top
    - search.suggest
    - content.code.copy

plugins:
  - search

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - Sitemap: sitemap.md
  - HAVO 3: havo3
  - About: about.md

repo_name: clvlearn/mdam
repo_url: https://github.com/clvlearn/mdam

copyright: Copyleft; 2025 Yixboost NL
